$icon-size: 55px;
$dark-overlay:rgba(0,0,0,0.7);
$font-color: #fff;

body{
  overflow-x: hidden;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}



.fa{
  font-size: $icon-size;
}

.full-section{
  background-color: $dark-overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 150px;
  position: relative;
}


.full-section-AG{
  height: 100%;
  width: 100%;
  padding-top: 25px;
  color: #fff;
}

.bg-orange{
  background-color: orange;
}

.home-gallery{
  color: #666;
}
#home-content{
  position: relative;
}
#home-rounded-pics{
  color: #333;
}

#about{
  color: #333;
  font-size: 16px;
  height: 100%;
  width: 100%;
  position: relative;
}
#our-recent{
  position: relative;
}
#music{
  color: #333;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  position: relative;
}

#gallery{
  position: relative;
    color: #fff;
    height: 100vh;
    width: 100%;
}

#contact{
  color: #333;
}
.navbar{
  .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .nav-item.active{
    border-left: #444 3px solid;
  }
}



.carousel-item{
  height: 450px;
}

.carousel-image-1{
  background: url('../img/carousel-img1.jpg');
  background-size: cover;
}
.carousel-image-2{
  background: url('../img/carousel-img2.jpg');
  background-size: cover;
}
.carousel-image-3{
  background: url('../img/carousel-img3.jpg');
  background-size: cover;
}

#home-heading{
  position: relative;
  min-height: 400px;
  background-image: url('../img/home-img.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;

}

#home-icons{
  position: absolute;
  padding-top: 300px;
}
.dark-overlay{
  position: absolute;
  background-color: $dark-overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-play{
  position: relative;
  min-height: 200px;
  background:url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
  a{
    color: #fff;
  }
}

footer#main-footer{
  background: #000;
  color: #fff;
  position:relative;
}
.copyright{
  margin-top: 50px;
  color: #333;
}
.top-size{
  font-size: 20px;
}
#page-header{
  height: 200px;
  background: url('../img/carousel-img3.jpg');
  background-position: 0 -160px;
  background-size: cover;
  background-attachment: fixed;
  color:#333;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#page-header-contact{
  height: 300px;
  background: url('../img/contact-bg2.jpg');
  background-position: 0 -160px;
  background-size: cover;
  background-attachment: fixed;
  color:#000;
  border-bottom: 1px #eee solid;
  padding-top: 50px;

}

#faq{
  .card{
    border:#444;
    a{
      color:#fff;
      text-decoration: name;
    }
  }
  .card-body, .card-header{
    background: #333;
  }
}

.bg-black{
  background: #000;
  color:#fff;
}

#main-header{
  img{
    width:100%;
    height:100%;
  }

  .port-item{
    width:30%;
    .fa{
      font-size:2em;
    }
  }
 a, u{
   color: inherit;
   text-decoration: none;
 }
  .port-item:hover{
    opacity:0.8;
    cursor: pointer;
  }
}


@media(min-width: 1199px){
  .port-item{
    padding:3em !important;
  }
}
